<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDY-9uTuy1_s7VQtYqg3m1neiEKqBUo9BU</string>
	<key>GCM_SENDER_ID</key>
	<string>750604423766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab11</string>
	<key>PROJECT_ID</key>
	<string>my-first-firebase-projec-65313</string>
	<key>STORAGE_BUCKET</key>
	<string>my-first-firebase-projec-65313.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750604423766:ios:e3b8fbbf3d32c60046e1f7</string>
	<key>DATABASE_URL</key>
	<string>https://my-first-firebase-projec-65313-default-rtdb.firebaseio.com</string>
</dict>
</plist>